<h2><%= @application.name %></h2>

<p><i>Address: </i><%= @application.full_address %></p>
<p><i>Description: </i><%= @application.description %></p>
<p><i>Application status: </i><%= @application.status %></p>
<p><i>Pets applying for:</i></p>

<% @application_pets.each do |pet| %>
  <section id='pet-<%= pet.id %>'>
    <p style="display:inline;"><%= link_to pet.name, "/pets/#{pet.id}" %></p>&ensp;
    <% if pet.application_status(@application.id) == 'Pending' %>
      <% if pet.adoptable %>
        <%= button_to 'Approve', "/admin/applications/#{@application.id}?pet_id=#{pet.id}&status=Approved", :method => :patch , form_class: "myButton" %>
      <% else %>
        Approved Elsewhere
      <% end %>
      <%= button_to 'Reject', "/admin/applications/#{@application.id}?pet_id=#{pet.id}&status=Rejected", :method => :patch, form_class: "myButton" %>
    <% end %>

      <p><i>Pet status:</i> <%= pet.application_status(@application.id) %></p>
  </section>
<% end %>



