<h1>All pets</h1>
<%= link_to 'Start an Application', '/applications/new' %>
<br><br>
<%= form_with url: "/pets", method: :get, local: true do |f| %>
  <%= f.text_field :search %>
  <%= f.submit "Search" %>
<% end %>
<br>
<% @pets.each do |pet| %>
  <section id='pet-<%= pet.id %>'>
    <h3 style="display: inline;"><%= link_to pet.name, "/pets/#{pet.id}" %></h3>&ensp;
    <%= button_to "Edit", "/pets/#{pet.id}/edit", method: :get, form_class: "myButton" %>
    <%= button_to "Delete", "/pets/#{pet.id}", method: :delete, form_class: "myButton" %>
  </section>
  <p>Age: <%= pet.age %></p>
  <p>Breed: <%= pet.breed %></p>
  <p>Adoptable: </p>
  <p>You can find <%= pet.name %> at <%= pet.shelter_name %>!</p>
<% end %>