<h1 style="display:inline;"><%= @pet.name %></h1>&ensp;
<%= button_to "Update", "/pets/#{@pet.id}/edit", method: :get, form_class: "myButton" %>
<%= button_to "Delete", "/pets/#{@pet.id}", method: :delete, form_class: "myButton" %>

<h3>Age: <%= @pet.age %> years old</h3>
<h3>Breed: <%= @pet.breed %></h3>
<h3>Adoptable: <%= @pet.adoptable %></h3>
<h3>Shelter: <%= @pet.shelter_name %></h3>

