<h1><%= @shelter.name %></h1>
<p>Address: <%= @shelter.full_address %></p>

<section id="stats">
  <h3>Statistics</h3>
  <p>Average Pet Age: <%= @shelter.average_pet_age.round(2) %></p>
  <p>Adoptable Pets: <%= @shelter.adoptable_pets.count %></p>
  <p>Adopted Pets: <%= @shelter.adopted_pets.count %></p>
</section>